LISTEN_HOST=
PUBLIC_PORT_RANGE_START=30000
PUBLIC_PORT_RANGE_END=30499
TUNNEL_MANAGER_BASE_URL=https://1f8b266e9dbf.ratio1.link
ROUTE_LOOKUP_TIMEOUT=5s
IDLE_TIMEOUT=300s
STARTUP_TIMEOUT=15s
LOCAL_PORT_RANGE_START=20000
LOCAL_PORT_RANGE_END=20100
LOG_FORMAT=plain
RESTART_BACKOFF=2s
MAX_RESTARTS=3
